#colorSliders {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}

input[type=range] {
  -webkit-appearance: none;
  width: 96%;
  height: 1px;
  margin: 12px 0px 12px 0px;
  background: black;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: black;
  border: 2px solid black;
  border-radius: 50%;
}

input[type=range]::-webkit-slider-thumb:hover {
  background: black;
  width: 20px;
  height: 20px;
}

input.colorSlider {
  height: 8px;
  border-radius: 4px;
}

input#hue {
  background-image: linear-gradient(
    to right,
    hsl(0, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(360, 100%, 50%),
    );
}

input#saturation {
  background-image: linear-gradient(to right, gray, red);
}

input#lightness {
  background-image: linear-gradient(to right, black, white);
}