body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: gainsboro;
}

canvas {
  //position: relative;
  margin: 0 auto;
  background-color: white;
}

button {
  display: inline;
  width: 40px;
  height: 40px;
  font-size: 20px;
  box-sizing: border-box;
}

button:hover {
  width: 48px;
  height: 48px;
  //border: solid 4px white;
  border-radius: 8px;
  margin: -4px;
  z-index: 100;
}

#toolboxes {
 // top: 0;
  //right: 0;
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.toolbox {
  display: flex;
  flex-wrap: wrap;
  //padding: 12px;
  margin: 8px 0px 8px 0px;
  align-items: center;
  width: inherit;
}

.settingsbutton {
  width: auto;
  height: auto;
}

button.settingsbutton:hover {
  width: auto;
  height: auto;
  //margin: inherit;
}

.swatch {
  border: none;
}

// #colorSliders {
//   display: none;
// }


