body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(219, 202, 179);
}

canvas {
  //position: relative;
  margin: 0 auto;
  background-color: white;
  filter: drop-shadow(0 0 1.5mm gray);
}

svg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 35%;
}

button {
  display: inline;
  width: 40px;
  height: 40px;
  font-size: 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, .2);
  color: navy;
  border: none;
}

button:hover {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  margin: -4px;
  z-index: 100;
}

button.brush:hover {
  background-color: aquamarine;
}

#toolboxes {
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.toolbox {
  display: flex;
  flex-wrap: wrap;
  //padding: 12px;
  margin: 8px 0px 8px 0px;
  align-items: center;
  width: inherit;
  filter: drop-shadow(0 0 1mm gray);
}

.settingsbutton {
  width: auto;
  height: auto;
}

button.settingsbutton:hover {
  width: auto;
  height: auto;
  //margin: inherit;
}

.swatch {
  border: none;
}

#colorSliders {
  display: none;
}

#brushsettings {
  position: relative;
}

div#sizeSettings {
  position: absolute;
  bottom: 40px;
  z-index: 100;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

canvas#brushDisplay {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, .2);
}

