canvas {
  margin: 0 auto;
  outline: 1px black;
}

#toolboxes {
  display: fixed;
  top: 0;
  left: 0;
  border: solid 1px black;
}

.toolbox {
  display: flex;
  border: solid 1px black;
}